[package]
name = "migration"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
sea-orm-migration = { workspace = true }
tokio = { workspace = true }
